.App {
   background-color: white;
    min-height: 500px;
    padding: 0px;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #f4f4f4;
}

.category {
    padding: 0 50px;
    border-right: 2px solid #c7c7c7;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc {
    text-align: left !important;
    display: flex;
    align-items: center;
    justify-content: left;
}

.borLi {
    width: 650px;
    border-bottom: 1px solid #e4dede;
    padding: 15px 0;
    list-style-type: none;
}


.row{
    margin-left: 0px;
}

