.nav {
    padding: 20px;
    min-height: 50px;
    background-color: #393939e0;
    color: white;
    margin-bottom: 50px;
}

.nav a {
    color: white;
}

.nav a.activeLink{
    color: #00f3ff !important;
}


.nav a:hover {
    color: white;
    text-decoration-line: none;
}


