@import url('https://fonts.googleapis.com/css2?семья=Vollkorn:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Vollkorn:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
.header{

}
.textLink{


}

.linkDoc a.activeLink{

}

.header a:hover {
    color: white;
    text-decoration-line: none;
}

.upperBlock{
    width: 1140px;
    height: 201px;
    left: 0px;
    top: 0px;
    background: #2D2A35;
}

.iconDoc{
    margin-left: 176.1px;
    margin-top: 50.32px;
    margin-bottom: 15px;
}

.iconUser{
    margin-left: 97px;
    margin-top: 54px;
    margin-bottom: 15px;

}
.linkDoc{
    padding: 7px 15px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #DFDEDE;
    background: #60259A;
    border-radius: 10px;
    border: 3px solid #60259A;
    text-transform: capitalize;
}
.mar1{
    margin-left: 91px;
    margin-top: 100px;
}
.linkDoc:hover{
    box-shadow:0 0 10px #60259A;

}

.linkUser{
    padding: 8px 15px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #DFDEDE;
    background: #2D2A35;
    border: 3px solid #60259A;
    border-radius: 10px;
    text-transform: capitalize;
}

.mar{
    margin-left: 41px;


}

.linkUser:hover{
    box-shadow:0 0 10px #60259A;

}

.logo{
    position: absolute;
    width: 266px;
    height: 63px;
    left: 57px;
    top: 69px;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    background: -webkit-linear-gradient(top, #FFFFFF, #858383);
    background: -moz-linear-gradient(top, #FFFFFF, #858383);
    background: linear-gradient(to bottom, #FFFFFF, #858383);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .line{
     background: url("./line.png");
     width: 1140px;
     height: 59px;

 }
.listDoc{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #DFDEDE;
}

.listDoc{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 155px;

    color: #DFDEDE;
}

.nameKafedra{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    padding: 20px 0px;
    color: #2D2A35;
   padding-left: 120px;
}

.lineBlack{

    width: 1140px;
    height: 20px;
margin-bottom: 40px;

    background: #2D2A35;
}

.univDoc{
    margin-top: 69px;
    margin-left: 42px;
}