@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Vollkorn:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

.positionSave{
    margin: 50px auto;
    width: 110px;
}

.add {
    display: block;
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 99999;
}
